.GamePhaseProduct {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__product {
        width: 100%;
        flex-grow: 1;
        overflow-y: scroll;
    }

    &__bar {
        height: 100px;
        width: 100%;
        border-radius: 0 !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 !important;
    }

}