.UserCard {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;

    &__name {
        font-weight: bold;
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__score {
        font-size: 3rem;
        height: 100%;
        padding-top: 10px;
        padding-left: 15px;
    }

    &__price {
        &--empty {
            opacity: 0.5;
        }

        &--done {
            &::after {
                content: " €";
            }
        }
    }
}
