@keyframes second {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

@keyframes letter {
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.GamePhaseCountdown {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__container {
        position: relative;
        height: 50vh;
        width: 50vh;
    }

    &__character {
        position: absolute;
        width: 100%;
        opacity: 0;
        text-align: center;
        line-height: 50vh;
        height: 50vh;
        top: 0;

        &--letter {
            font-size: 50vh;
            font-weight: bold;
            animation: letter 3s ease-in-out;
            animation-delay: 5s;
        }

        &--1 {
            font-size: 20vh;
            animation: second 3s ease-in-out;
            animation-delay: 0;

            &::after {
                content: "3";
            }
        }

        &--2 {
            font-size: 25vh;
            animation: second 3s ease-in-out;
            animation-delay: 1s;

            &::after {
                content: "2";
            }
        }

        &--3 {
            font-size: 30vh;
            animation: second 3s ease-in-out;
            animation-delay: 2s;
            &::after {
                content: "1";
            }
        }
    }
}
