[Unit]
Description=Froducts
After=network.target

[Service]
TimeoutStartSec=5
User=froducts
WorkingDirectory=/tmp
ExecStart=/opt/froducts/node-v{{ node_version }}-linux-x64/bin/node /opt/froducts/packages/froducts-server/dist
TimeoutStopSec=10
Restart=always
RestartSec=10

[Install]
WantedBy=multi.target

